# Python Basics

In this notebook you'll learn about:


1.   Print function
2.   Variables
3.   Keywords
4.   Data Types
5.   Commments

## Print

Display data on the screen.

In [1]:


print('Hello, world!')

Hello, world!

In [2]:
# print your name on the screen using print function
print('elumalai')

elumalai

## Variable
Variable is nothing but a value stored in memory with an associated name. 


### Syntax


```
  variable_name = variable_value
```

In [3]:
# create a new variable named marks and store 100 in it

SyntaxError: ignored

### Print a variable

In [4]:
# print marks variable
print(100)

100

In [6]:
# declaamed first_avenger as "Steve Rogers"re a variable n
n = "first_avenger as Steve Rogers "
print(n)

first_avenger as Steve Rogers

There are multiple way to print a variable. Such as:

#### Syntax to print a variable
`print(variable)`

In [7]:
# print the variable first_avenger
print('steve rogers')

steve rogers

#### Syntax to print a variable along with a sentence (string).

` print("Hello", variable_name)`

In [8]:
# Print "First avenger was " followed by the first_avenger variable
n="First avengers is: steve rogers"
print(n)

First avengers is: steve rogers

## Keywords
Keywords are reserved words which cannot be used as variable name. Such as:


*   print
*   and
*   as
*   in
*   global

You don't have to memorize a list of keywords. To print list of keywords, run the next code snippet.

PS: You don't have to understand next code snippet as of now, that's only for your knowledge.

In [10]:
# import a module named keyword, more on modules in upcoming lessons

import keyword
print(keyword.kwlist)
# from keyword module print keyword list
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

## Data Types



*   Integer
*   Float
*   String
*   Boolean

### Integer
Positive or negative whole numbers with no decimal point.

In [13]:
# create a variable named count and store 13 in it then print it

dct = {'x': 1, 'y': 13, 'z': 3}
dct
{'y': 2, 'x': 1, 'z': 3}
dct["y"]
13

13

### Float

Real numbers which are written with a decimal point.

In [14]:
# create a variable named float and store the distance between your school and your home then print it.

 
num = float(4.5)
print(num)

4.5

### String

Sequence of characters. It supports alphabets as well as special characters like $, #, * etc. Don’t forget to add single or double quotes, quotes are not part of string. It only tell computer where string begins and ends.

In [18]:
# create a variable named as name and store your name and then print it

first_name = "elumalai"

print(first_name)

elumalai

### Boolean

A boolean can have any of `True` or `False` value only.

In [19]:
# create a variable named are_you_hunry and store True then print it

var = "Are you hungry:true"
print(var)

Are you hungry:true

## Comments

Comments are the part of your code, which you don’t want to execute.


*   Single Line Comment
*   Multi Line Comment

### Single Line Comment

In [20]:
print("How you doing?") # this code prints "How you doing?"

How you doing?

### Multi Line Comment

In [22]:
"""
This is is how you can
add multiline comments.
Code after the the quotes will be executed normally.  
"""
#This is a comment
#written in
#more than just one line

print("Hello World!")

Hello World!

In [23]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!